/* Desktop */

@media (width >= 768px) {
  .footer {
    max-width: 970px;
    margin: 0 auto;
    padding-bottom: 128px;
  }

  .body__footer {
    margin-top: 111px;
  }

  .footer__info {
    font-size: 13px;
  }

  .footer__link {
  }
}
