/* Base */

.benefits {
}

.benefits__title {
  margin: 0;
}

.benefits__list {
  display: grid;
  padding: 0;
}

.benefits__item {
  display: flex;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 83px 83px;
}
