/* Mobile */

@media (width < 768px) {
  .header {
    padding: 32px 32px 282px;
    background-image: image-set(
        url('/assets/scooter-header@1x.webp') 1x,
        url('/assets/scooter-header@2x.webp') 2x
      ),
      linear-gradient(180deg, rgb(255 255 255 / 80%) 0%, #ffffff 100%),
      linear-gradient(
        0deg,
        rgb(255 255 255 / 20%) 0%,
        rgb(255 255 255 / 20%) 100%
      ),
      linear-gradient(90deg, #ff5c4d 0%, #eb469f 25%, #8341ef 72%, #3f68f9 100%),
      linear-gradient(180deg, rgb(255 255 255 / 80%) 0%, #ffffff 100%),
      linear-gradient(
        0deg,
        rgb(255 255 255 / 20%) 0%,
        rgb(255 255 255 / 20%) 100%
      ),
      linear-gradient(90deg, #ff5c4d 0%, #eb469f 25%, #8341ef 72%, #3f68f9 100%);
    background-position: calc(50% + 173px) -3px, center, center, center, center;
    background-size: 965px auto, auto, auto, auto;
  }

  .header__container {
    position: relative;
  }

  .header__container::before {
    width: 80px;
    height: 80px;
  }

  .header__wrapper {
    max-width: 311px;
  }

  .logo {
    width: 112px;
  }

  .header__title {
    width: 220px;
    margin: 24px 0 0;
    font-size: 36px;
    letter-spacing: -0.72px;
  }

  .header__description {
    margin: 24px 0 0;
    font-size: 18px;
  }

  .header__price {
    font-size: 18px;
    letter-spacing: 0.05px;
  }

  .header__button {
    position: fixed;
    bottom: 24px;
    left: 50%;
    z-index: 5;
    width: 100%;
    max-width: 310px;
    transform: translate(-50%);
  }

  .header__img {
    align-self: center;
    margin-top: 18px;
    transform: translate(-5px);
    object-fit: cover;
  }

  .header__image {
    position: relative;
    display: flex;
    justify-content: center;
  }

  @media (width < 620px) {
    .header {
      background-position: center bottom -15px, center, center, center;
      background-size: 346px, auto, auto, auto;
    }

    .header__container::before {
      right: calc(50% + -6px);
      bottom: -226px;
    }
  }

  @media (width >= 620px) and (width < 768px) {
    .header {
      padding: 32px 32px 0;
      background-position: right 15% top 20px, center, center, center;
      background-size: 346px, auto, auto, auto;
    }

    .header__image::after {
      top: 148px;
      left: calc(50% - 77px);
    }

    .header__container::before {
      top: 138px;
      right: calc(15% + 93px);
    }
  }
}
